<<<<<<< HEAD

<div class="newgossip"> <a href="<%= new_gossip_path %>" class="btn btn-success">Create a Gossip</a> </div>
<div class=index>
  <% @gossip.each do |g|%>
  <div class="card" style="width: 32rem;">
    <div class="card-body">
       <h5 class="card-title"><a href="/gossips/<%=g.id%>">Gossip n°<%= g.id%></a></h5>
        <p class="card-title"><%= g.title %></p>
      <p class="card-text"><%= g.anonymous_gossiper %> </p>
        <p class="card-text"><%= g.content %> </p>
          <p> <%= g.comments.count %> Comments<p>
     <a href="gossips/<%= g.id %>/edit" class="btn btn-primary">Edit this Gossip</a>
      <a href="<%= gossip_path(g.id)%>" class="btn btn-danger" data-confirm="Are you sure ?" data-method="DELETE">Delete</a></p>

  </div>
  </div>
  </div>
  <div>

  <% end %>
</div>
</div>
=======
<h1> The Gossip Project</h1><br>
<% @gossip.each do |gossip| %>
<div class="card-box">
<div class="card border-light mb-3" style="max-width: 18rem;">
<div class="card-header"><a href="/gossips/<%=gossip.id%>"> Gossip n°<%=gossip.id%></a></div>
<div class="card-body">
 <h5 class="card-title"><%= gossip.anonymous_gossiper %></h5>
 <p class="card-text"><%= gossip.content%></p>
 <a href="<%= edit_gossip_path(gossip.id)%>" class="btn btn-primary">Edit</a>
 <a href="<%= gossip_path(gossip.id)%>" class="btn btn-danger" data-confirm="Are you sure ?" data-method="DELETE">Delete</a>
</div>
</div>
</div>
<% end %>
>>>>>>> 6b28e9f3d1ae41a2f5d092f49dba7f416a17d98d
